

{{!-- {{The main title}} --}}
<div class="jumbotron jumbotron-fluid jumbotron-style">
    <div class="container text-center">
        <div class="col-sm-12">
            <h1 class="display-4">D&D All Characters</h1>
        </div>
    </div>
</div>

<div class="container">
    {{#each Character}}
    <div class="row">
        <div class="card character-card">
            <div class="card-header">
                <h2 class="card-title">{{ dataValues.name }} </h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Class: {{dataValues.class}} </li>
                    <li class="list-group-item">Race: {{dataValues.race}} </li>
                    <li class="list-group-item">Age: {{dataValues.age}} </li>
                    <li class="list-group-item">Height {{dataValues.height}} </li>
                    <li class="list-group-item">Primary Language: {{dataValues.primary_language}} </li>
                    <li class="list-group-item">Weapons: {{dataValues.weapons}} </li>
                </ul>
            </div>
        </div>
    {{/each}}
    </div>

   